

.register {
    width: 60%;
    margin: 2em;
}

body {
    background: blanchedalmond;
}

.button {
    margin: 1em;
    text-align: center;
}

.single-comment {
    margin: 2em;
}

.commentlist {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

textarea {
    width: 500px;
    height: 100px;
}