<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
        <h2>
        {{ if . }}
        <div class="error" style="color:blue">{{ . }}</div>
        {{ end }}
        </h2>
        <h1>
            Login
        </h1>
        <form method="POST">
            Username: <input name="username">
            Password: <input name="password">
            <div>
                <button type="submit"> Login </button>
                <button onclick="location.href='/register'" type="button"> Sign up </button>
            </div>
        </form>
    </body>
</html>